<%- include('../partials/head.ejs', {isHome: true}) %>

<div class="site-content" data-template="home">
  <div class="container">
    <div class="boil-content">
      <h1>Welcome to the Boile Boilerplate</h1>
      <p>Create fullstack application with Node.js</p>
    </div>

    <div class="boil-content">
      <h2>What we do?</h2>
      <p>
        To create a fullstack application with the built-in files structuring
      </p>
    </div>

    <div class="boil-content">
      <h2>Examples</h2>

      <p>I have 2 examples below:</p>
      <ul>
        <li>
          <a href="https://threejs-journey-ruddy.vercel.app/" target="_blank"
            >Three.js Journey</a
          >
          - my learning journey with Three.js, control all lessons in one place
          :)
        </li>
        <li>
          <a href="https://creative-coding-delta.vercel.app/" target="_blank"
            >Three.js Journey</a
          >
          - my creative corners, I can do all the creative things in my mind in
          one place :)
        </li>
      </ul>

      <p>
        You can follow the
        <a href="https://github.com/vuquangpham/threejs-journey" target="_blank"
          >simple repository here</a
        >
      </p>
    </div>
  </div>
</div>

<%- include('../partials/end.ejs') %>
